*{
    color: #fefae0;
}

a {
    text-decoration: none;
}

/* ----------------------+ navbar +---------------------- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #bc6c25;
}

nav div {
    justify-content: center;
}

nav a {
    color: #fefae0;
    font-size: 1.4rem;
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav li {
    padding: 4px 20px;
}

nav input,
button {
    background-color: transparent;
    color: #fefae0;
    border: #fefae0 solid 2px;
    border-radius: 8px;
    font-size: 1.4rem;

}

/*----------------------+ main body +---------------------- */
.banner{
    display: list-item;
    width: 100%;
    height: 1000px;
    font-size: 100px;
    justify-content: center;
    text-align: center;
    background-color: #283618;
}

/* -----------------------+ footer +----------------------- */

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: #dda15e;
    color: #fefae0;
    display: flex;
    justify-content: space-around;
}

footer div {
    display: inline-flex;
    width: 25%;
}

footer hr {
    border: #fefae0 solid 1px;
}

footer a {
    color: #fefae0;
}

footer ul {
    list-style: none;
}

button.top-btn {
    background-color: #fefae0;
    border-radius: 5px;
    color: #bc6c25;
    border: #bc6c25 solid 2px;
    padding: 10px 20px;
    font-size: 1rem;

    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}