*{
    transition:0.3s;
    justify-content: center;
}

button{
    background-color: transparent;
    border: #525252 solid 2px;
    border-radius: 4px;
    height: fit-content;
    width: 90%;
    color:#525252;
    margin: 1%;
    /* align-self: flex-end; */
}
button:active{
    transform: scale(95%);
}

header.navbar {
    background-color: aqua;
    height: 50px;
    width: 100%;
}
header.navbar:hover{
    /* transform: scale(103%); */
    width: 5%;
    transform:scaleX(105%);
    transform:scaleY(120%);
}

.main-body{
    /* background-color: #fffeb3; */
    height: 70%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* margin-bottom: 20px; */
}
.rod{
    display: inline-flex;
    background-color: #585858;
    width: 13%;
    height: 10%;
    margin: 10px;
}
.rod:hover{
    background-color: #ffb34f;
    transform: scaleY(300%);
}

footer {
    background-color: aqua;
    height: 120px;
    position: relative;
    bottom: 10px;
}

.card-container{
    display: flex;
}
.card{
    display: inline-flex;
    background-color: #f0f0f0;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.card-btn{
    bottom: 0px;
}
.sudoku-container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    /* border: black solid 5px; */
    justify-self: center;
    width: 900px;
    height: 1100px;

    font-size: 90px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.sudoku-big-box{
    display: flex;
    height: 295px;
    width: 295px;
    border: black solid;
    flex-wrap: wrap;
}
.sudoku-small-box{
    height: 95px;
    width: 95px;
    border: black solid 1px;
}
.sudoku-small-box:hover{
    background-color: #b7b7b7;
}

.sudoku-btn{
    display: flex;
    flex-wrap: nowrap;
    width: 80px;
    height: 90px;

    font: inherit;
    color: black;
    height: 110px;
}
.sudoku-btn:hover{
    background-color: #e5e5e5;
}
.sudoku-btn:focus{
    background-color: black;
    color: white;
}